body{
    background-image: url(/public/Images/land2.jpg);
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #ebf3f7;
}
.topline::after{
    position:absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}
h1{
 display: block;
 font-size: 3em;
  font-weight: 900;
 color: #2eebe5;
}
.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #d40098;
}
li{
    list-style-type: none;
}
#register{
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: rgb(182, 241, 182); width: 100px; height: 30px;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    cursor: pointer;
} 
#register:hover{
    background-color: #07a956;
}
i{
    color: green;
    
}
img{
    width: 250px;
    height: 250px;
}
#loginpage{
    background-color: rgb(191, 241, 140);
}
label{
    color: gray;
    font-weight: bold;
}
#send{
    background-color: rgb(126, 223, 191);
    font-weight: bold;
}
#send:hover{
    background-color: green;
}
#cancel{
    background-color: rgb(126, 223, 191);
    font-weight: bold;
}
#cancel:hover{
    background-color: red;
}
#user{
    color: black;
}


